/* Portfolio*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); /* Fonte Krona-one*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'); /* Fonte Montserrat 600*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@1,100&display=swap'); /* Fonte Montserrat*/

:root{ /*variaveis css*/
    --cor-primaria:#43766C;
    --cor-secundaria:#F8FAE5;
    --cor-terciaria:#B19470;
    --cor-hover:#76453B;

    --fonte-primaria:'Krona One', sans-serif;  
    --fonte-secundaria:'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.imagem{
    border-radius: 50%;
    width: 40%;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 15%; /*superior, direito, inferior, esquerdo*/
}
.cabecalho__menu{
    display: flex;
    gap: 80px; /*espacamento do menu de nav*/
}
.cabecalho__menu__link:link, .cabecalho__menu__link:visited{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cabecalho__menu__link:hover, .cabecalho__menu__link:active{
    color: var(--cor-secundaria);
    transition: 500ms;
}
.apresentacao { /* Main */
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px; 
}
.apresentacao__conteudo{ /*Largura dos Itens da Pagina*/
    width: 50%; 
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{ /*1 rem = 16px*/
    font-size: 2.25rem; 
    font-family: var(--fonte-primaria);
}
.titulo{ /*cor titulo*/
    color:var(--cor-terciaria);
}
.apresentacao__conteudo__subtitulo{ /*div subtitulo*/
    display: flex;
    margin-top: 10px; /* Aplica uma margem do conteúdo acima*/
}
.apresentacao__conteudo__texto{ /*subtitulo*/
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao__links{ /*div - do texto pra baixo*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    gap: 32px;
}
.apresentacao__links__subtitulo{
   font-family: var(--fonte-primaria); 
   font-weight: 400;
   font-size: 1.5rem;
}
.apresentacao__links__navegacao:link, .apresentacao__links__navegacao:visited { /*estilizacao do botao*/
    display: flex; /* Por padrão alinha o conteudo à esquerda*/
    justify-content: center; /* Alinha o conteudo no centro*/
    gap: 16px;   /* Espaçamento dentro dos botoes*/
    width: 55%;
    text-align: center;
    border-radius: 8px; /* Contorno do botão*/
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    padding: 23px 0;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
    transition: 1s;
}
.apresentacao__links__navegacao:hover, .apresentacao__links__navegacao:active { /*Mouse em cima*/
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
    padding: 5%;
}
.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 14px;
    font-size: 0.6rem;
    text-align: center;
    font-family: var(--fonte-secundaria);

}

/*Pagina Sobre Mim*/

.apresentacao__sobremim{ /*section*/
    width: 600px;
}
.apresentacao__sobremim__texto{ /*paragrafos*/
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    margin-top: 15px;
}
.apresentacao__sobremim__titulo{ /*titulo*/
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse; /*Muda a ordem dos itens*/
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto; /* zera para ter largura fixa*/
    }

@media (max-width:425px){
    .cabecalho__menu {
        gap: 20px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .apresentacao__conteudo__titulo{
        font-size: 1.5rem;
    }
    .apresentacao__conteudo__subtitulo{
        font-size: 0.6rem;
    }
    .apresentacao__links__subtitulo{
        font-size: 0.9rem;
    }
    .apresentacao__links__navegacao:link{
        font-size: 1.1rem;
    }
    .apresentacao__links__navegacao:link, .apresentacao__links__navegacao:visited {
        padding: 10px 0;

}
}
